$breakpoint0:         1400px;
$breakpoint1:         1024px;
$breakpoint2:         992px;
$breakpoint3:         768px;
$breakpoint4:         576px;
$breakpoint5:         480px;

$brand-green-dark:         #c2d100;
$brand-green-light:        #c3d800;

//$brand-green-dark:        #FC6621;
//$brand-green-dark:        #FC6621;
//$brand-green-dark:        #FC6621;
//$brand-green-dark:        #FC6621;



$brand-yellow:        #FDAF2A;
$brand-dark:          #2d2d2d;
$brand-black:         #000000;
$brand-grey:          #b5b5b5;