$breakpoint5:         1400px;
$breakpoint4:         1024px;
$breakpoint3:         992px;
$breakpoint2:         768px;
$breakpoint1:         576px;
$breakpoint0:         480px;

$brand-green-dark:         #c2d100;
$brand-green-light:        #c3d800;
$brand-gray-light:         #eff3f4;
$brand-gray-dark:          #bfcad0;
$brand-yellow-strong:      #d3d700;




$brand-yellow:        #FDAF2A;
$brand-dark:          #2d2d2d;
$brand-black:         #000000;
$brand-grey:          #b5b5b5;