@import "colours";
@import "fonts";

* {
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: $bodyFont;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
}

.page {
    max-width: 1920px;
    margin: 0 auto;
}

.copy {
    padding: 30px 0;
    position: relative;
}


h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
    padding-bottom: 12px;
    padding-top: 5px;
}

h3 {
    font-size: 25px;
    padding-bottom: 12px;
    padding-top: 5px;
}


h4 {
    font-size: 20px;
    padding-bottom: 12px;
    padding-top: 5px;
    font-weight: bold;
}

p {
    padding-bottom: 12px;
    margin: 0;
}


form {
    margin: 45px 0;

    .find-for-mobile {
        display: none;
    }

    @media (min-width: $breakpoint3){

        .find-for-mobile {
            display: block;
        }

        .form-group {
            textarea::placeholder,
            input::placeholder {
                color: #ffffff;
            }
        }
    }

    .btn-MandA {
        padding: 10px 18px;
        color: $brand-gray-darker;
        background: $brand-green-dark;
        border-color: $brand-green-dark;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 20px;

        &:hover {
            background: $brand-green-light;
            border-color: $brand-green-light;
        }
    }

    .form-group {
        margin-bottom: 1.5rem;
    }
}

select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 0;
    background: #ffffff;
    resize: none;
    padding: 20px 18px;
}

.form-check {

    @media (min-width: $breakpoint3){

        input + label {
            padding-right: 80px;
        }
    }
}




//
//
//p, ol, ul {
//    font-weight: 100;
//    line-height: 120%;
//    font-size: 1.2rem;
//
//    @media (min-width: $breakpoint2){
//        font-size: 1.3rem;
//        line-height: 130%;
//    }
//
//    @media (min-width: $breakpoint4){
//
//        span {
//            display: block;
//        }
//    }
//}
//
//a {
//    color: $brand-orange;
//    text-decoration: none;
//
//    &:hover {
//        text-decoration: underline;
//    }
//}
//
//.footer {
//
//    h4 {
//        font-size: 1.3rem;
//    }
//
//    p, ul, ol {
//        font-size: 1.0rem;
//        text-align: left;
//        padding-bottom: 5px;
//    }
//
//    p {
//        line-height: 150%;
//    }
//}
//
//h1 {
//    font-size: 2.8rem;
//
//     @media (min-width: $breakpoint2){
//
//         font-size: 3.6rem;
//     }
//}
//
//h2 {
//    font-size: 1.7rem;
//
//
//    //background-color: $brand-dark;
//    //-webkit-background-clip: text;
//    //color: transparent;
//    //text-shadow: rgba(255,255,255,0.3) 0 3px 3px;
//
//    //background-color: #ffffff;
//    //-webkit-background-clip: text;
//    //color: transparent;
//    //text-shadow: rgba(0,0,0,0.2) 0 1px 1px;
//
//    @media (min-width: $breakpoint2){
//        font-size: 2.8rem;
//    }
//}
//
//h3 {
//    font-size: 1.6rem;
//
//    @media (min-width: $breakpoint2){
//        font-size: 2.0rem;
//    }
//}
//
//h4 {
//    font-size: 1.4rem;
//
//    @media (min-width: $breakpoint2){
//        font-size: 1.4rem;
//    }
//}
//
//button, .button {
//    color: $brand-orange;
//    background: rgba(0,0,0,0.05);
//    font-family: $headerFont;
//    font-size: 1.2rem;
//    font-weight: bold;
//    line-height: 100%;
//    border: none;
//    padding: 15px 20px 13px 20px;
//    cursor: pointer;
//    border-radius: 3px;
//
//    &:hover {
//        background: rgba(0,0,0,0.15);
//    }
//}
//
//form {
//
//    label {
//        padding-bottom: 5px;
//        font-family: $headerFont;
//        display: none;
//        font-size: 1.2rem;
//    }
//
//    input[type="text"], input[type="email"], textarea {
//        padding: 10px 12px;
//        font-family: $bodyFont;
//        width: 100%;
//        font-size: 1.3rem;
//        line-height: 120%;
//        border: none;
//        color: $brand-dark;
//        resize: none;
//        border-radius: 2px;
//    }
//
//    textarea {
//        height: 200px;
//    }
//
//    @media (min-width: $breakpoint2){
//
//    }
//}
//
//@media (min-width: $breakpoint2){
//    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
//        color: lighten($brand-grey, 10%);
//    }
//    ::-moz-placeholder { /* Firefox 19+ */
//        color: lighten($brand-grey, 10%);
//    }
//    :-ms-input-placeholder { /* IE 10+ */
//        color: lighten($brand-grey, 10%);
//    }
//    :-moz-placeholder { /* Firefox 18- */
//        color: lighten($brand-grey, 10%);
//    }
//}
//
//[data-device="desktop-only"] {
//    display: none;
//    @media (min-width: $breakpoint2){
//        display: inline-block;
//    }
//}
//
//.visually-hidden {
//    position: absolute;
//    overflow: hidden;
//    clip: rect(0 0 0 0);
//    height: 1px; width: 1px;
//    margin: -1px; padding: 0; border: 0;
//}
//
//.bullets {
//    list-style: disc;
//    padding-left: 20px;
//
//    li {
//        padding-bottom: 5px;
//    }
//}
//
//.fa-phone,
//.fa-phone-square {
//    transform: scaleX(-1);
//}