@import "colours";
@import "furniture";

body {
    background: #ffffff;
    color: $brand-dark;
}

.header {
    height: 110px;
    color: #ffffff;

    .sub-title {
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 15px;
        font-size: 25px;
        line-height: 20px;
    }

    .copy {
        padding: 15px 0 0 0;
    }

    .title {
        line-height: 100%;
        font-size: 40px;
        padding-right: 80px;
    }

    &.green {
        background: $brand-green-dark;
    }

    .nav-trigger {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    @media (min-width: $breakpoint2){

        height: 320px;
        background-repeat: no-repeat;
        background-position: top center;
        color: #ffffff;

        .copy {
            padding: 0;
            margin-top: 160px;
        }

        .sub-title {
            text-transform: uppercase;
            margin: 0;
            padding-bottom: 15px;
            font-size: 25px;
            line-height: 20px;
        }

        .title {
            line-height: 100%;
            font-size: 80px;
        }

        &.green {
            background-image: url("/images/bg-header-green.jpg");
        }
    }
}

.navigation {

    .nav {
        position: relative;
        overflow: hidden;
        height: 0;
        transition: height 0.2s ease-out;

        .menu {
            width: 100%;
            position: absolute;
            bottom: 0;
            background: $brand-green-light;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li {
            border-bottom: 1px solid white;
        }

        a {
            padding: 12px 18px 11px 18px;
            display: block;
            color: white;
        }
    }


    @media (max-width: $breakpoint2){

        .container {
            padding: 0;
        }
    }

}



