@import "colours";
@import "furniture";

body {
    background: #ffffff;
    color: $brand-pitch-black;
}

.header {
    height: 110px;
    color: #ffffff;

    .sub-title {
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 15px;
        font-size: 25px;
        line-height: 20px;
    }

    .copy {
        padding: 15px 0 0 0;
    }

    .title {
        line-height: 100%;
        font-size: 40px;
        padding-right: 80px;
    }

    &.pink {
        background: $brand-pink-strong;
    }

    &.black {
        background: $brand-pitch-black;
    }

    &.dark {
        background: $brand-gray-darker;
    }

    &.green {
        background: $brand-green-dark;
    }

    &.green {
        background: $brand-green-dark;
    }

    .nav-trigger {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    @media (min-width: $breakpoint2){
        height: 320px;
        color: #ffffff;

        .copy {
            padding: 0;
            margin-top: 160px;
        }

        .sub-title {
            text-transform: uppercase;
            margin: 0;
            padding-bottom: 15px;
            font-size: 25px;
            line-height: 20px;
        }

        .title {
            line-height: 100%;
            font-size: 80px;
        }

        &.green {
            background: url("../images/bg-header-green.jpg") top center no-repeat;
        }

        &.pink {
            background: url("../images/bg-header-pink.jpg") top center no-repeat;
        }

        &.grey {
            background: url("../images/bg-header-gray.jpg") top center no-repeat;
        }

        &.black {
            background: url("../images/bg-header-black.jpg") top center no-repeat;
        }

        &.dark {
            background: url("../images/bg-header-dark.jpg") top center no-repeat;
        }
    }
}

.navigation {

    .container {
        padding: 0;
    }

    .menu-container {
        position: relative;
        overflow: hidden;
        height: 0;
        transition: height 0.2s ease-out;

        .menu-list {
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            background: $brand-gray-dark;
            width: 100%;
        }

        li {
            border-bottom: 1px solid $brand-gray-light;
        }

        a {
            padding: 12px 18px 11px 18px;
            display: block;
            color: $brand-gray-darker;
            transition: background-color 0.33s;
            text-decoration: none;

            &:hover {
                background: lighten($brand-gray-dark, 10%);
            }
        }
    }

    @media (min-width: $breakpoint2){

        .menu-container {

            .menu-list {

                ul {
                    float: right;
                    width: 300px;
                    margin-right: 15px;
                }
            }
        }

        .desktop {
            position: relative;
            height: 0;
            overflow: visible;
            z-index: 10;
        }
    }
}

.imaged {
    background: url("../images/bg-about-us-copy.jpg") top center no-repeat $brand-gray-dark;
    padding-top: 750px;
    min-height: 1040px;

    @media (min-width: $breakpoint3){
        padding-top: 800px;
    }
}

.hexagons {
    background: url("../images/bg-hexagons-section.jpg") top center no-repeat $brand-yellow-strong;

    .placeholder {
        text-align: center;
        min-height: 600px;
        padding-top: 200px;
        background: black;
        color: white;
    }

    .skip {
        background: url("../images/bg-closes-yellow.jpg") center bottom no-repeat;
    }
}

.hexagons-wide {
    padding-bottom: 60px;

    .placeholder {
        text-align: center;
        padding-top: 200px;
        min-height: 600px;
        background: black;
        color: white;
    }
}

.blockquote {
    background: url("../images/bg-blockquote.jpg") top center no-repeat $brand-gray-dark;
    min-height: 412px;

    .copy {
        text-transform: uppercase;
        font-size: 28px;
        line-height: 160%;
        font-style: italic;
        color: white;
    }
}

.footer {

    &.footer-top {
        background: url("../images/bg-footer-top.jpg") center -60px no-repeat;
    }

    .menu-list {
        background: $brand-gray-darker;
        padding: 45px 0;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;
            width: 100%;
        }

        li {
            display: inline;
            padding-right: 12px;
        }

        a {
            display: inline-block;
            text-align: center;
            background-image: url("../images/bg-footer-nav-links.svg");
            background-size: cover;
            width: 40px;
            height: 34px;
            line-height: 34px;
            color: $brand-gray-darker;
        }
    }

    .inner-footer {
        padding-bottom: 15px;

        .copy {
            min-height: 260px;
            text-transform: uppercase;
            font-size: 22px;
            line-height: 160%;
            font-style: italic;
        }
    }

    @media (min-width: $breakpoint3){

        .menu-list {
              margin-top: 75px;
              background: none;

            ul {
                text-align: left;
            }
        }

        .inner-footer {
            background: url("../images/bg-footer.png") center bottom no-repeat;
            padding-bottom: 130px;
        }
    }
}



