@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  outline: none;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%; }

.page {
  max-width: 1920px;
  margin: 0 auto; }

.copy {
  padding: 30px 0;
  position: relative; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 26px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 54px; } }

h2 {
  font-size: 30px;
  padding-bottom: 12px;
  padding-top: 5px; }

h3 {
  font-size: 25px;
  padding-bottom: 12px;
  padding-top: 5px; }

h4 {
  font-size: 20px;
  padding-bottom: 12px;
  padding-top: 5px;
  font-weight: bold; }

p {
  padding-bottom: 12px;
  margin: 0;
  font-size: 16px; }
  @media (min-width: 768px) {
    p {
      font-size: 18px; } }
  p.sub-title {
    font-size: 20px;
    line-height: 20px; }
    @media (min-width: 768px) {
      p.sub-title {
        font-size: 30px; } }

form {
  margin: 30px 0; }
  form .has-placeholder {
    display: none; }
  @media (min-width: 992px) {
    form .has-placeholder {
      display: block; }
    form .form-group textarea::placeholder,
    form .form-group input::placeholder {
      color: #ffffff; } }
  form .btn-ma {
    padding: 10px 18px;
    color: #3a3c44;
    background: #cbdb2a;
    border-color: #cbdb2a;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 20px; }
    form .btn-ma:hover {
      background: #c3d800;
      border-color: #c3d800; }
  form .form-group {
    margin-bottom: 1.5rem; }
  form textarea {
    width: 100%;
    height: 200px !important; }
  form select.form-control,
  form input[type="text"].form-control,
  form input[type="email"].form-control,
  form input[type="password"].form-control,
  form textarea.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: inherit;
    outline: none;
    border-radius: 0;
    background: #ffffff;
    resize: none;
    padding: 8px 10px 8px 12px; }
  form select.form-control {
    background: url("../images/bg-select.png") right center no-repeat;
    padding-right: 30px; }

.form-check {
  margin-bottom: 1.5rem; }
  @media (min-width: 992px) {
    .form-check input + label {
      padding-right: 80px; } }

.error-span {
  display: none; }

.error select,
.error input[type="text"],
.error input[type="email"],
.error input[type="password"],
.error textarea {
  border-color: #ff0000;
  outline: 1px solid #ff0000 !important; }

.error .error-span {
  display: block;
  color: #ff0000; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.hamburger.is-active:hover,
.hamburger:hover {
  opacity: 1.0; }

body {
  background: #ffffff;
  color: #000104; }

.header {
  height: 90px;
  color: #ffffff; }
  .header .sub-title {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 15px; }
  .header .copy {
    padding: 15px 0 0 0; }
  .header .title {
    line-height: 100%; }
  .header.pink {
    background: #e57ab1; }
  .header.black {
    background: #000104; }
  .header.dark {
    background: #3a3c44; }
  .header.grey {
    background: #b1c0c9; }
  .header.green {
    background: #cbdb2a; }
  .header .nav-triggers {
    position: absolute;
    top: 20px;
    right: 0; }
    .header .nav-triggers .hex {
      display: none; }
    .header .nav-triggers .home-link {
      float: left;
      width: 58px;
      height: 50px;
      background-image: url("../images/svg-hexagon-white.svg");
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 10px; }
      .header .nav-triggers .home-link .logo {
        display: block;
        height: 32px;
        margin: 0 auto; }
    .header .nav-triggers .nav-link {
      display: inline-block;
      margin: 0 0 0 10px;
      padding: 0;
      float: left;
      position: relative;
      background-image: url("../images/svg-hexagon-pink.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 58px;
      height: 50px; }
      .header .nav-triggers .nav-link .hamburger {
        margin: 12px 9px;
        padding: 0; }
        .header .nav-triggers .nav-link .hamburger .hamburger-box {
          transform: scale(0.6); }
        .header .nav-triggers .nav-link .hamburger .hamburger-inner,
        .header .nav-triggers .nav-link .hamburger .hamburger-inner:after,
        .header .nav-triggers .nav-link .hamburger .hamburger-inner:before {
          background-color: #ffffff; }
    @media (min-width: 768px) {
      .header .nav-triggers {
        top: 50px;
        right: 20px;
        width: 240px;
        height: 240px; }
        .header .nav-triggers .hex {
          display: block;
          position: absolute;
          background-image: url("../images/svg-hexagon-green.svg");
          background-size: cover;
          background-repeat: no-repeat;
          height: 50px;
          width: 58px;
          top: 6px;
          left: -12px;
          z-index: 20; }
          .header .nav-triggers .hex.hex1 {
            left: -22px;
            top: 75px;
            z-index: 21;
            -webkit-transition: 0.33s ease-in-out;
            -moz-transition: 0.33s ease-in-out;
            -o-transition: 0.33s ease-in-out;
            transition: 0.33s ease-in-out;
            background-image: url("../images/svg-hexagon-green.svg");
            opacity: 0.8; }
          .header .nav-triggers .hex.hex2 {
            top: 12px;
            left: -44px;
            background-image: url("../images/svg-hexagon-grey.svg");
            height: 80px;
            width: 92px;
            opacity: 0.8;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out; }
          .header .nav-triggers .hex.hex3 {
            top: 80px;
            right: -2px;
            left: inherit;
            background-image: url("../images/svg-hexagon-dark.svg");
            opacity: 0.7;
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out; }
          .header .nav-triggers .hex.hex4 {
            top: 38px;
            left: inherit;
            right: -14px;
            height: 60px;
            width: 69px;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out; }
        .header .nav-triggers .home-link {
          height: 180px;
          width: 206px;
          background-image: url("../images/svg-hexagon-white.svg");
          background-size: cover;
          background-repeat: no-repeat;
          display: block;
          position: relative;
          transform-style: preserve-3d;
          overflow: hidden;
          transition: background 0.33s; }
          .header .nav-triggers .home-link .logo {
            width: 68px;
            height: 92px;
            position: absolute;
            top: 50%;
            margin-top: -46px;
            left: 50%;
            margin-left: -34px;
            transform: translateZ(20px); }
          .header .nav-triggers .home-link:hover {
            z-index: 30; }
        .header .nav-triggers .nav-link {
          display: block;
          background-size: cover;
          background-repeat: no-repeat;
          color: #ffffff;
          width: 108px;
          height: 94px;
          float: right;
          margin-top: -40px;
          opacity: 0.5;
          padding: 0;
          position: relative; }
          .header .nav-triggers .nav-link .hamburger {
            margin: 35px 34px;
            padding: 0; }
            .header .nav-triggers .nav-link .hamburger .hamburger-box {
              transform: scale(1.2); }
          .header .nav-triggers .nav-link:hover, .header .nav-triggers .nav-link.hover {
            transition: opacity 0.33s;
            opacity: 1; } }
  .header.pink .nav-triggers .nav-link {
    background-image: url("../images/svg-hexagon-dark.svg"); }
  @media (min-width: 768px) {
    .header {
      height: 320px;
      color: #ffffff; }
      .header .copy {
        padding-top: 118px; }
      .header .sub-title {
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 33px; }
      .header.green {
        background: url("../images/bg-header-green.jpg") top center no-repeat; }
      .header.pink {
        background: url("../images/bg-header-pink.jpg") top center no-repeat; }
      .header.grey {
        background: url("../images/bg-header-gray.jpg") top center no-repeat; }
      .header.black {
        background: url("../images/bg-header-black.jpg") top center no-repeat; }
      .header.dark {
        background: url("../images/bg-header-dark.jpg") top center no-repeat; } }

.hover .nav-triggers.hover .hex1 {
  transform: translate(-20px, 11px);
  opacity: 1; }

.hover .nav-triggers.hover .hex2 {
  transform: translate(-31px, -2px);
  opacity: 1; }

.hover .nav-triggers.hover .hex3 {
  transform: translate(15px, 15px);
  opacity: 1; }

.hover .nav-triggers.hover .hex4 {
  transform: translate(12px, -10px);
  opacity: 1; }

.navigation .container {
  padding: 0; }

.navigation .menu-container {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: height 0.2s ease-out; }
  .navigation .menu-container .menu-list {
    width: 100%;
    position: absolute;
    bottom: 0; }
  .navigation .menu-container ul {
    padding: 0;
    margin: 0 0 5px 0;
    list-style: none;
    background: #f5f5f5;
    width: 100%;
    -webkit-box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.65); }
  .navigation .menu-container li {
    border-bottom: 1px solid #cccccc; }
    .navigation .menu-container li:nth-last-child(1) {
      border-bottom: none; }
  .navigation .menu-container a {
    padding: 12px 18px 11px 18px;
    display: block;
    color: #3a3c44;
    transition: background-color 0.25s;
    text-decoration: none; }
    .navigation .menu-container a:hover {
      background: white;
      color: #e57ab1; }

@media (min-width: 768px) {
  .navigation .menu-container .menu-list ul {
    float: right;
    width: 300px;
    margin-right: 15px; }
  .navigation .desktop {
    position: relative;
    height: 0;
    overflow: visible;
    z-index: 10; } }

.imaged {
  background: url("../images/bg-about-us-copy.jpg") top center no-repeat #b1c0c9;
  padding-top: 750px;
  min-height: 1040px; }
  @media (min-width: 992px) {
    .imaged {
      padding-top: 800px; } }

.hexagons {
  background: url("../images/bg-hexagons-section.jpg") top center no-repeat #d3d700; }
  .hexagons .placeholder {
    text-align: center;
    min-height: 600px;
    padding-top: 200px;
    background: black;
    color: white; }
  .hexagons .skirt {
    background: url("../images/bg-closes-yellow.jpg") center bottom no-repeat; }

.gallery {
  padding-bottom: 60px; }
  .gallery .placeholder {
    text-align: center;
    min-height: 1300px;
    padding-top: 200px;
    background: black;
    color: white; }

.hexagons-wide .placeholder {
  text-align: center;
  padding-top: 200px;
  min-height: 600px;
  background: black;
  color: white; }

.blockquote {
  background: url("../images/bg-blockquote.jpg") top center no-repeat #b1c0c9;
  min-height: 412px; }
  .blockquote .copy {
    text-transform: uppercase;
    font-size: 28px;
    line-height: 160%;
    font-style: italic;
    color: white; }

.footer.footer-top {
  background: url("../images/bg-footer-top.jpg") center -60px no-repeat; }

.footer .menu-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%; }

.footer .menu-list li {
  display: inline;
  padding-right: 12px; }

.footer .menu-list a {
  display: inline-block;
  text-align: center;
  background-image: url("../images/svg-hexagon-white.svg");
  background-size: cover;
  width: 40px;
  height: 34px;
  line-height: 34px;
  color: #3a3c44;
  transition: all 0.33s; }
  .footer .menu-list a:hover {
    color: white;
    background-image: url("../images/svg-hexagon-green.svg"); }

.footer .inner-footer {
  background: url("../images/bg-footer.png") left 80px no-repeat; }
  .footer .inner-footer .copy {
    text-transform: uppercase;
    font-style: italic;
    font-size: 22px;
    line-height: 160%; }

@media (min-width: 576px) {
  .footer .inner-footer {
    background: url("../images/bg-footer.png") left 15px no-repeat; } }

@media (min-width: 768px) {
  .footer .inner-footer {
    background: url("../images/bg-footer.png") left -20px no-repeat; } }

@media (min-width: 992px) {
  .footer .menu-list {
    margin-top: 240px;
    background: none; }
    .footer .menu-list ul {
      text-align: left; }
  .footer .inner-footer {
    background: url("../images/bg-footer.png") right bottom no-repeat;
    padding-bottom: 130px; }
  .footer.footer-top .menu-list {
    margin-top: 120px; } }

.footer-nav {
  text-align: center;
  padding: 25px 0; }
  .footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .footer-nav a {
    color: #c3d800;
    padding: 1px 15px;
    border-right: 1px solid #eff3f4; }
  .footer-nav li {
    display: inline; }
    .footer-nav li:nth-last-child(1) a {
      border-right: none; }
  @media (min-width: 992px) {
    .footer-nav {
      text-align: left; }
      .footer-nav li:nth-child(1) a {
        padding-left: 0; } }
