@import url("https://fonts.googleapis.com/css?family=Mukta+Malar:200,300,400");
@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:300|Miriam+Libre");
* {
  outline: none;
  box-sizing: border-box; }

body {
  font-family: "Mukta Malar";
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%; }

.page {
  max-width: 1920px;
  margin: 0 auto; }

.copy {
  padding: 30px 0;
  position: relative; }

h1 {
  font-size: 80px; }

h2 {
  font-size: 25px; }

body {
  background: #ffffff;
  color: #2d2d2d; }

.header {
  height: 110px;
  color: #ffffff; }
  .header .sub-title {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 15px;
    font-size: 25px;
    line-height: 20px; }
  .header .copy {
    padding: 15px 0 0 0; }
  .header .title {
    line-height: 100%;
    font-size: 40px;
    padding-right: 80px; }
  .header.green {
    background: #c2d100; }
  .header .nav-trigger {
    position: absolute;
    top: 20px;
    right: 20px; }
  @media (min-width: 768px) {
    .header {
      height: 320px;
      background-repeat: no-repeat;
      background-position: top center;
      color: #ffffff; }
      .header .copy {
        padding: 0;
        margin-top: 160px; }
      .header .sub-title {
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 15px;
        font-size: 25px;
        line-height: 20px; }
      .header .title {
        line-height: 100%;
        font-size: 80px; }
      .header.green {
        background: url("/images/bg-header-green.jpg") top center; } }

.navigation .nav {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: height 0.2s ease-out; }
  .navigation .nav .menu {
    width: 100%;
    position: absolute;
    bottom: 0; }
  .navigation .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #eff3f4;
    width: 100%; }
  .navigation .nav li {
    border-bottom: 1px solid white; }
  .navigation .nav a {
    padding: 12px 18px 11px 18px;
    display: block;
    color: #2d2d2d; }

@media (max-width: 992px) {
  .navigation .container {
    padding: 0; } }

@media (min-width: 768px) {
  .navigation .nav .menu ul {
    float: right;
    width: 300px; }
  .navigation .desktop {
    position: relative;
    height: 0;
    overflow: visible;
    z-index: 10; } }
