@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: 'max-and-aegle';
  src: url("fonts/max-and-aegle.eot?pdxyss");
  src: url("fonts/max-and-aegle.eot?pdxyss#iefix") format("embedded-opentype"), url("fonts/max-and-aegle.ttf?pdxyss") format("truetype"), url("fonts/max-and-aegle.woff?pdxyss") format("woff"), url("fonts/max-and-aegle.svg?pdxyss#max-and-aegle") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'max-and-aegle' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-contact-full:before {
  content: "\e900"; }

.icon-contact-line:before {
  content: "\e901"; }

.icon-email-full:before {
  content: "\e902"; }

.icon-email-line:before {
  content: "\e903"; }

.icon-facebook-full:before {
  content: "\e904"; }

.icon-facebook-line:before {
  content: "\e905"; }

.icon-facility-full:before {
  content: "\e906"; }

.icon-facility-line:before {
  content: "\e907"; }

.icon-gallery-full:before {
  content: "\e908"; }

.icon-gallery-line:before {
  content: "\e909"; }

.icon-instagram-full:before {
  content: "\e90a"; }

.icon-instagram-line:before {
  content: "\e90b"; }

.icon-login-full:before {
  content: "\e90c"; }

.icon-login-line:before {
  content: "\e90d"; }

.icon-membership-full:before {
  content: "\e90e"; }

.icon-membership-line:before {
  content: "\e90f"; }

.icon-time-full:before {
  content: "\e910"; }

.icon-time-line:before {
  content: "\e911"; }

.icon-weather-full:before {
  content: "\e912"; }

.icon-weather-line:before {
  content: "\e913"; }

* {
  outline: none;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%; }
  @media (min-width: 768px) {
    body {
      font-size: 18px; } }

.page {
  max-width: 1920px;
  margin: 0 auto; }

.copy {
  padding: 15px 0;
  position: relative; }
  @media (min-width: 768px) {
    .copy {
      padding: 30px 0; } }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 26px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 54px; } }

h2 {
  font-size: 28px;
  padding-bottom: 12px;
  padding-top: 5px; }
  @media (min-width: 768px) {
    h2 {
      font-size: 32px; } }

h3 {
  font-size: 25px;
  padding-bottom: 12px;
  padding-top: 5px; }

h4 {
  font-size: 20px;
  padding-bottom: 12px;
  padding-top: 5px;
  font-weight: bold; }

p {
  padding-bottom: 12px;
  margin: 0; }
  p.sub-title {
    font-size: 16px;
    line-height: 20px; }
    @media (min-width: 768px) {
      p.sub-title {
        font-size: 30px; } }

.quote {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .quote {
      font-size: 30px;
      line-height: 130%;
      text-align: center;
      padding-left: 30px;
      padding-right: 30px; } }

form {
  margin: 30px 0; }
  form .has-placeholder {
    display: none; }
  @media (min-width: 992px) {
    form .has-placeholder {
      display: block; }
    form .form-group textarea::placeholder,
    form .form-group input::placeholder {
      color: #ffffff; } }
  form .btn-ma {
    padding: 10px 18px;
    color: #3a3c44;
    background: #cbdb2a;
    border-color: #cbdb2a;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%; }
    form .btn-ma:hover {
      background: #c3d800;
      border-color: #c3d800; }
    @media (min-width: 992px) {
      form .btn-ma {
        width: auto; } }
  form .form-group {
    margin-bottom: 1.5rem; }
  form textarea {
    width: 100%;
    height: 200px !important; }
  form select.form-control,
  form input[type="text"].form-control,
  form input[type="email"].form-control,
  form input[type="password"].form-control,
  form textarea.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: inherit;
    outline: none;
    border-radius: 0;
    background: #ffffff;
    resize: none;
    padding: 8px 10px 8px 12px; }
  form select.form-control {
    background: url("../images/bg-select.png") right center no-repeat;
    padding-right: 30px; }

.form-check {
  margin-bottom: 1.5rem; }
  @media (min-width: 992px) {
    .form-check input + label {
      padding-right: 80px; } }

.error-span {
  display: none; }

.error select,
.error input[type="text"],
.error input[type="email"],
.error input[type="password"],
.error textarea {
  border-color: #ff0000;
  outline: 1px solid #ff0000 !important; }

.error .error-span {
  display: block;
  color: #ff0000; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.initial-display-none {
  display: none !important; }

.hamburger.is-active:hover,
.hamburger:hover {
  opacity: 1.0; }

body {
  background: #ffffff;
  color: #000104; }

.header {
  height: 80px;
  color: #ffffff; }
  .header .sub-title {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 5px; }
  .header .copy {
    padding: 15px 0 0 0; }
  .header .title {
    line-height: 100%; }
  .header.pink {
    background: #e57ab1; }
  .header.black {
    background: #000104; }
  .header.dark {
    background: #3a3c44; }
  .header.grey {
    background: #b1c0c9; }
  .header.green {
    background: #cbdb2a; }
  .header .nav-triggers {
    position: absolute;
    top: 20px;
    right: 0; }
    .header .nav-triggers .hex {
      display: none; }
    .header .nav-triggers .home-link {
      float: left;
      width: 49px;
      height: 42px;
      background-image: url("../images/svg-hexagon-white.svg");
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 10px; }
      .header .nav-triggers .home-link .logo {
        display: block;
        height: 25px;
        margin: 0 auto; }
    .header .nav-triggers .nav-link {
      display: inline-block;
      margin: 0 0 0 12px;
      padding: 0;
      float: left;
      position: relative;
      background-image: url("../images/svg-hexagon-pink.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 49px;
      height: 42px; }
      .header .nav-triggers .nav-link .hamburger {
        margin: 9px 4px;
        padding: 0; }
        .header .nav-triggers .nav-link .hamburger .hamburger-box {
          transform: scale(0.6); }
        .header .nav-triggers .nav-link .hamburger .hamburger-inner,
        .header .nav-triggers .nav-link .hamburger .hamburger-inner:after,
        .header .nav-triggers .nav-link .hamburger .hamburger-inner:before {
          background-color: #ffffff; }
    @media (min-width: 768px) {
      .header .nav-triggers {
        top: 50px;
        right: 20px;
        width: 240px;
        height: 240px; }
        .header .nav-triggers .hex {
          display: block;
          position: absolute;
          background-image: url("../images/svg-hexagon-green.svg");
          background-size: cover;
          background-repeat: no-repeat;
          height: 50px;
          width: 58px;
          top: 6px;
          left: -12px;
          z-index: 20; }
          .header .nav-triggers .hex.hex1 {
            left: -22px;
            top: 75px;
            z-index: 21;
            -webkit-transition: 0.33s ease-in-out;
            -moz-transition: 0.33s ease-in-out;
            -o-transition: 0.33s ease-in-out;
            transition: 0.33s ease-in-out;
            background-image: url("../images/svg-hexagon-green.svg");
            opacity: 0.8; }
          .header .nav-triggers .hex.hex2 {
            top: 12px;
            left: -44px;
            background-image: url("../images/svg-hexagon-grey.svg");
            height: 80px;
            width: 92px;
            opacity: 0.8;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out; }
          .header .nav-triggers .hex.hex3 {
            top: 80px;
            right: -2px;
            left: inherit;
            background-image: url("../images/svg-hexagon-dark.svg");
            opacity: 0.7;
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out; }
          .header .nav-triggers .hex.hex4 {
            top: 38px;
            left: inherit;
            right: -14px;
            height: 60px;
            width: 69px;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out; }
        .header .nav-triggers .home-link {
          height: 180px;
          width: 206px;
          background-image: url("../images/svg-hexagon-white.svg");
          background-size: cover;
          background-repeat: no-repeat;
          display: block;
          position: relative;
          transform-style: preserve-3d;
          overflow: hidden;
          transition: background 0.33s; }
          .header .nav-triggers .home-link .logo {
            width: 68px;
            height: 92px;
            position: absolute;
            top: 50%;
            margin-top: -46px;
            left: 50%;
            margin-left: -34px;
            transform: translateZ(20px); }
          .header .nav-triggers .home-link:hover {
            z-index: 30; }
        .header .nav-triggers .nav-link {
          display: block;
          background-size: cover;
          background-repeat: no-repeat;
          color: #ffffff;
          width: 108px;
          height: 94px;
          float: right;
          margin-top: -36px;
          padding: 0;
          position: relative; }
          .header .nav-triggers .nav-link .hamburger {
            margin: 35px 34px;
            padding: 0; }
            .header .nav-triggers .nav-link .hamburger .hamburger-box {
              transform: scale(1.2); }
          .header .nav-triggers .nav-link:hover, .header .nav-triggers .nav-link.hover {
            transition: opacity 0.33s;
            opacity: 1; } }
  .header.pink .nav-triggers .nav-link {
    background-image: url("../images/svg-hexagon-dark.svg"); }
  @media (min-width: 768px) {
    .header {
      height: 320px;
      color: #ffffff; }
      .header .copy {
        padding-top: 118px; }
      .header .sub-title {
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 33px; }
      .header.green {
        background: url("../images/bg-header-green.jpg") top center no-repeat; }
      .header.pink {
        background: url("../images/bg-header-pink.jpg") top center no-repeat; }
      .header.grey {
        background: url("../images/bg-header-gray.jpg") top center no-repeat; }
      .header.black {
        background: url("../images/bg-header-black.jpg") top center no-repeat; }
      .header.dark {
        background: url("../images/bg-header-dark.jpg") top center no-repeat; } }

.hover .nav-triggers.hover .hex1 {
  transform: translate(-20px, 11px);
  opacity: 1; }

.hover .nav-triggers.hover .hex2 {
  transform: translate(-31px, -2px);
  opacity: 1; }

.hover .nav-triggers.hover .hex3 {
  transform: translate(15px, 15px);
  opacity: 1; }

.hover .nav-triggers.hover .hex4 {
  transform: translate(12px, -10px);
  opacity: 1; }

.navigation .container {
  padding: 0; }

.navigation .menu-container {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: height 0.2s ease-out; }
  .navigation .menu-container .menu-list {
    width: 100%;
    position: absolute;
    bottom: 0; }
  .navigation .menu-container ul {
    padding: 0;
    margin: 0 0 5px 0;
    list-style: none;
    background: #f5f5f5;
    width: 100%;
    -webkit-box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.65); }
  .navigation .menu-container li {
    border-bottom: 1px solid #cccccc; }
    .navigation .menu-container li:nth-last-child(1) {
      border-bottom: none; }
  .navigation .menu-container a {
    padding: 12px 18px 11px 18px;
    display: block;
    color: #3a3c44;
    transition: background-color 0.25s;
    text-decoration: none; }
    .navigation .menu-container a:hover {
      background: white;
      color: #e57ab1; }

@media (min-width: 768px) {
  .navigation .menu-container .menu-list ul {
    float: right;
    width: 300px;
    margin-right: 15px; }
  .navigation .desktop {
    position: relative;
    height: 0;
    overflow: visible;
    z-index: 10; } }

.imaged {
  background: url("../images/bg-about-us-copy.jpg") top center no-repeat #b1c0c9;
  padding-top: 750px;
  min-height: 1040px; }
  @media (min-width: 992px) {
    .imaged {
      padding-top: 800px; } }

.hexagons {
  background: url("../images/bg-hexagons-section.jpg") top center no-repeat #d3d700; }
  .hexagons .placeholder {
    text-align: center;
    min-height: 600px;
    padding-top: 200px;
    background: black;
    color: white; }
  .hexagons .skirt {
    background: url("../images/bg-closes-yellow.jpg") center bottom no-repeat; }

.hexagons-wide .placeholder {
  text-align: center;
  padding-top: 200px;
  min-height: 600px;
  background: black;
  color: white; }

.blockquote {
  background: #b1c0c9; }
  .blockquote .copy {
    color: white; }
  .blockquote .quote {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  @media (min-width: 992px) {
    .blockquote {
      background: url("../images/bg-blockquote.jpg") top center no-repeat #b1c0c9; }
      .blockquote .copy {
        min-height: 412px; }
      .blockquote .quote {
        display: flex;
        justify-content: center;
        flex-direction: column; } }

.footer.footer-top {
  background: url("../images/bg-footer-top.jpg") center -60px no-repeat; }

.footer .coloured-on-mobile {
  background: #3a3c44;
  padding-top: 30px; }
  @media (min-width: 992px) {
    .footer .coloured-on-mobile {
      background: none; } }

.footer .menu-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%; }

.footer .menu-list li {
  display: inline;
  padding-right: 12px; }

.footer .menu-list a {
  display: inline-block;
  text-align: center;
  background-image: url("../images/svg-hexagon-white.svg");
  background-size: cover;
  width: 40px;
  height: 34px;
  line-height: 34px;
  color: #3a3c44;
  transition: all 0.33s; }
  .footer .menu-list a:hover {
    color: white;
    background-image: url("../images/svg-hexagon-green.svg"); }

.footer .menu-list i {
  font-size: 26px;
  margin-top: 4px;
  display: inline-block; }

@media (min-width: 992px) {
  .footer .menu-list {
    margin-top: 250px;
    background: none; }
    .footer .menu-list ul {
      text-align: left; }
  .footer .inner-footer {
    background: url("../images/bg-footer.png") right bottom no-repeat;
    padding-bottom: 130px; }
  .footer.footer-top .menu-list {
    margin-top: 120px; } }

.footer-nav {
  text-align: center;
  padding: 25px 0; }
  .footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .footer-nav a {
    color: #c3d800;
    padding: 1px 17px 1px 14px;
    border-right: 1px solid #eff3f4; }
  .footer-nav li {
    display: inline; }
    .footer-nav li:nth-last-child(1) a {
      border-right: none; }
  @media (min-width: 992px) {
    .footer-nav {
      text-align: left; }
      .footer-nav li:nth-child(1) a {
        padding-left: 0; } }

nav#menu {
  background: #f9f9f9; }
  nav#menu .mm-title {
    display: none; }
  nav#menu ul li a {
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #3a3c44; }
    nav#menu ul li a:hover {
      color: #e57ab1; }
    @media (min-width: 992px) {
      nav#menu ul li a {
        padding-top: 15px;
        padding-bottom: 15px; } }
  nav#menu ul li.active a {
    color: #e57ab1; }
    nav#menu ul li.active a:hover {
      color: #e57ab1; }

.no-scroll {
  overflow: hidden; }
  .no-scroll body {
    position: relative; }

#overlay {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 250ms;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto; }
  @media (min-width: 576px) {
    #overlay {
      padding-top: 80px;
      /* Location of the box */ } }
  #overlay.show {
    opacity: 1; }
  #overlay #stage {
    overflow: hidden;
    position: static;
    height: 100%;
    width: 100%; }
    @media (min-width: 992px) {
      #overlay #stage {
        position: relative; } }
  #overlay .gallery-nav {
    position: absolute;
    bottom: 20px;
    z-index: 10; }
    #overlay .gallery-nav a {
      width: 49px;
      height: 42px;
      display: block;
      background-image: url(../images/svg-hexagon-green.svg);
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center; }
      #overlay .gallery-nav a i {
        font-size: 1.6rem;
        line-height: 42px;
        margin: 0 auto;
        color: #000104; }
      @media (min-width: 992px) {
        #overlay .gallery-nav a {
          width: 129px;
          height: 112px;
          background-image: url(../images/gallery/arrow-green.svg);
          background-size: cover;
          background-repeat: no-repeat;
          text-align: center;
          transition: all 250ms; }
          #overlay .gallery-nav a i {
            display: none; }
          #overlay .gallery-nav a:hover {
            background-image: url(../images/gallery/arrow-white.svg); } }
    #overlay .gallery-nav.nav-left {
      left: 20px; }
      #overlay .gallery-nav.nav-left a {
        transform: scaleX(-1); }
    #overlay .gallery-nav.nav-right {
      right: 20px; }
    @media (min-width: 768px) {
      #overlay .gallery-nav {
        bottom: auto;
        top: 50%;
        margin-top: -56px; } }
  #overlay .stage-sets {
    width: 100%;
    position: absolute;
    padding: 80px 0;
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    left: 50%;
    -webkit-transform: translateX(-50%);
    height: 100%; }
    @media (min-width: 576px) {
      #overlay .stage-sets {
        height: auto; } }
    @media (min-width: 768px) {
      #overlay .stage-sets {
        padding: 40px 0;
        width: 2400px;
        border-top: 2px solid white;
        border-bottom: 2px solid white; } }
    @media (min-width: 1800px) {
      #overlay .stage-sets {
        width: 3000px; } }
  #overlay .stage-set {
    width: 100%;
    padding: 0 20px;
    display: inline-block;
    position: relative; }
    #overlay .stage-set img {
      width: 100%;
      display: block;
      border: 2px solid #000104;
      transition: all 1s; }
      @media (min-width: 768px) {
        #overlay .stage-set img {
          border: 2px solid white; } }
    #overlay .stage-set .caption {
      background: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 10px 15px;
      font-size: 1.2rem;
      font-weight: 300;
      font-style: italic; }
      #overlay .stage-set .caption p {
        padding-bottom: 0; }
      @media (min-width: 768px) {
        #overlay .stage-set .caption {
          position: absolute;
          left: 32px;
          right: 32px;
          bottom: 2px;
          height: 120px;
          padding: 10px 30px;
          font-size: 1.8rem; } }
    #overlay .stage-set.stage-right img, #overlay .stage-set.stage-left img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    @media (max-width: 768px) {
      #overlay .stage-set.stage-right, #overlay .stage-set.stage-left {
        display: none; } }
    #overlay .stage-set.stage-right .caption, #overlay .stage-set.stage-left .caption {
      display: none; }
    @media (min-width: 768px) {
      #overlay .stage-set {
        width: 800px;
        padding: 0 30px; } }
    @media (min-width: 1800px) {
      #overlay .stage-set {
        width: 1000px;
        padding: 0 30px; } }
  #overlay .closeOverlay {
    position: absolute;
    right: 15px;
    top: 20px; }
    #overlay .closeOverlay a {
      width: 49px;
      height: 42px;
      background-image: url(../images/svg-hexagon-green.svg);
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      color: white;
      text-align: center; }
      #overlay .closeOverlay a i {
        font-size: 1.6rem;
        line-height: 42px;
        margin: 0 auto;
        color: #000104; }

.gallery.section {
  position: relative;
  overflow: hidden;
  padding-bottom: 30px; }
  .gallery.section .row-hex {
    margin-top: 0; }
  .gallery.section .bg-hex {
    top: 0; }
  .gallery.section .hexagon-in2 {
    background-size: cover;
    background-repeat: no-repeat; }
